<main>
  <header>
    <a href="#" routerLink="/" target="_self"><div class="arrow-left"></div></a>
    <a href="#"><h2 class="unnamed-character-style-24 InvestigacionComercial" routerLink="/">
      Investigación comercial
    </h2></a> 
  </header>
  <div class="cliente">
    <div class="cliente-portada">
      <p class="unnamed-character-style-20">Portada /</p>
      <p class="unnamed-character-style-18">&nbsp;Mercado</p>
    </div>
    <h2 class="unnamed-character-style-25">MERCADO</h2>
    <div class="wrap-p">
      <p class="unnamed-character-style-20">
        Toda la información sobre el mercado de seguros de salud, precios y
        coberturas de nuestros competidores, noticias del sector e informe
        sectorial de corredurías.
        <br />
        <br />
        Con una economía que cambia a una velocidad vertiginosa, un mundo
        globalizado y una competencia cada día más agresiva, tener un
        conocimiento del mercado en el que nos encontramos es de vital
        importancia para poder defender la propuesta de valor de DKV.
      </p>
    </div>
    <br />
    <div class="wrap">
      <div class="wrap">
        <div class="overflow-hidden">
          <a href="https://bit.inteliens.com/login" target="_blank">
            <div
              class="contenedor"
              id="uno"
              (mouseover)="handleHover('uno')"
              (mouseleave)="handleMouseLeave('uno')"
            >
              <p class="unnamed-character-style-16">PRICING Y COBERTURAS</p>
              <p class="unnamed-character-style-17">
                Precios y coberturas de competidos y comparativa con DKV.
              </p>
              <div class="trazado"></div>
            </div>
          </a>
        </div>
        <div class="borde-top">
          <div class="base-flecha" id="base-flecha-uno">
            <div class="punta-flecha" id="punta-flecha-uno"></div>
            <!-- <div class="fondo" id="fondo-uno"></div> -->
          </div>
        </div>
      </div>
      <div class="wrap">
        <div class="overflow-hidden">
          <a href="https://dkvseguros.inteliens.com/" target="_blank">
            <div
              class="contenedor"
              id="dos"
              (mouseover)="handleHover('dos')"
              (mouseleave)="handleMouseLeave('dos')"
            >
              <div class="wrap-flecha-down">
                <div class="flecha-down"></div>
              </div>
              <p class="unnamed-character-style-16">ARGUMENTARIOS</p>
              <p class="unnamed-character-style-17">
                Acceso directo a los argumentarios comerciales
              </p>
              <div class="trazado"></div>
            </div>
          </a>
        </div>
        <div class="borde-top">
          <div class="base-flecha" id="base-flecha-dos">
            <div class="punta-flecha" id="punta-flecha-dos"></div>
          </div>
        </div>
      </div>
      <div class="wrap">
        <div class="overflow-hidden">
          <a routerLink="/iframe/3" target="_self">
            <div
              class="contenedor"
              id="tres"
              (mouseover)="handleHover('tres')"
              (mouseleave)="handleMouseLeave('tres')"
            >
              <div class="wrap-flecha-down">
                <div class="flecha-down"></div>
              </div>
              <p class="unnamed-character-style-16">
                INFORME SECTORIAL CORREDURIAS
              </p>
              <p class="unnamed-character-style-17">
                Estadísticas de Mediación publicadas anualmente por la Dirección
                General de Seguros y Fondos de Pensiones (DGSFP) y por las
                distintas Comunidades Autónomas.
              </p>
              <div class="trazado"></div>
            </div>
          </a>
        </div>
        <div class="borde-top">
          <div class="base-flecha" id="base-flecha-tres">
            <div class="punta-flecha" id="punta-flecha-tres"></div>
          </div>
        </div>
      </div>
      <div class="wrap">
        <div class="overflow-hidden">
          <a>
            <div
              class="contenedor"
              id="cuatro"
              (mouseover)="handleHover('cuatro')"
              (mouseleave)="handleMouseLeave('cuatro')"
            >
              <div class="wrap-flecha-down">
                <div class="flecha-down"></div>
              </div>
              <p class="unnamed-character-style-16">NOTICIAS SECTORIALES</p>
              <p class="unnamed-character-style-17">
                Toda la actualidad del sector a tu disposición.
              </p>
              <div class="trazado"></div>
            </div>
          </a>
        </div>
        <div class="borde-top">
          <div class="base-flecha" id="base-flecha-cuatro">
            <div class="punta-flecha" id="punta-flecha-cuatro"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
