<main>
    <header>
        <div class="arrow-left"></div>
        <h2 class="unnamed-character-style-24" routerLink="/">
             Investigación comercial
        </h2>
    </header>
    <div class="cliente">
        <div class="cliente-portada">
            <p class="unnamed-character-style-20">Portada /</p>
            <p class="unnamed-character-style-18">&nbsp;Investigación</p>
        </div>
        <h2 class="unnamed-character-style-25">INVESTIGACIÓN</h2>
        <div class="wrap-p">
            <p class="unnamed-character-style-20">
                El área de Investigación, dentro del departamento de Marketing, tiene como foco, el estudio del mercado y la competencia en el sector, así como extraer conocimiento sobre los clientes actuales. Ambos frentes deben contribuir a un desarrollo y crecimiento
                de la compañía.
                <br /><br /> La unidad de Investigación tiene como principal interlocutor al área de Estrategia (Marketing), pero también interactúa con otros departamentos dentro de la Dirección Comercial. Asimismo, este soporte se extiende transversalmente
                al resto de direcciones.
            </p>
        </div>
        <div class="wrap">
            <div class="contenedor" id="uno">
                <div class="wrap-flecha-down">
                    <div class="flecha-down"></div>
                </div>
                <p class="unnamed-character-style-16">JESÚS ARANDA</p>
                <p class="unnamed-character-style-16">COORDINADOR</p>
                <p class="unnamed-character-style-17">
                    Graduado en Estadística por la Universidad de Granada y Master en Marketing Science en ESIC (Business and Marketing School), Jesús acumula experiencia de más de quince años en el Sector de Investigación de Mercados y, ha contribuido, a lo largo de su trayectoria, en el desarrollo de empresas con diferente actividad económica ocupando distintas posiciones (Banca, Institutos de Investigación de Mercados, Logística, Energía, Gran Consumo...). 
                    <br /><br /> Desde Febrero de 2018 forma parte del Equipo de Marketing de DKV coordinando la Actividad de Investigación Mercados e Inteligencia Comercial. Así mismo compagina esta actividad con el mundo académico, es profesor en la OBS (IL3-Universitat de Barcelona-EAE On Line).                </p>
            </div>
            <div class="contenedor" id="dos">
                <div class="wrap-flecha-down">
                    <div class="flecha-down"></div>
                </div>
                <p class="unnamed-character-style-16">BORJAS WESOLOWSKI</p>
                <p class="unnamed-character-style-16">MERCADO Y COMPETENCIA</p>
                <p class="unnamed-character-style-17">
                    Estudió Marketing en Saxion University (Países Bajos) y Máster en Marketing y Comunicación Digital (Kühnel Escuela de Negocios). Comenzó su trayectoria profesional en el sector de los eventos fundando su propia compañía. 
                    <br /><br /> Se incorporó a DKV en el año 2017 dentro área de Estrategia en el departamento de Marketing, para incorporarse posteriormente al área de Investigación de Mercados e Inteligencia Comercial desempeñando las funciones de investigación en todo lo relativo al mercado y a la competencia.
                </p>
            </div>
            <div class="contenedor" id="tres">
                <div class="wrap-flecha-down">
                    <div class="flecha-down"></div>
                </div>
                <p class="unnamed-character-style-16">CRISTIAN MARTOS</p>
                <p class="unnamed-character-style-17">
                    Graduado en Estadística y Empresa por la universidad Carlos III de Madrid. Comenzó su trayectoria profesional en el sector de distribución, como analista de datos, especializándose principalmente en el negocio de tabaco durante 7 años. 
                    <br /><br /> Se incorporó a DKV en 2022 para formar parte del área de Investigación de Mercados e Inteligencia Comercial, dentro del departamento de Marketing.
                </p>
            </div>
            <div class="contenedor" id="cuatro">
                <div class="wrap-flecha-down">
                    <div class="flecha-down"></div>
                </div>
                <p class="unnamed-character-style-16">SERGIO CUESTA</p>
                <p class="unnamed-character-style-17">
                    Graduado en Ingeniería de Software por la Universidad de Tecnología y Arte Digital (U-TAD) y Master en Big Data y Data Science por la misma Universidad. 
                    <br /><br /> Sergio acumula dos años de experienca como desarrollador de software en una compañía que se dedica a crear películas de animación (Planet 51, Mortadelo y Filemón, Blush, Good Luck Bad Luck, etc..) y, va a hacer un año de experiencia como Ingeniero de Datos. 
                    <br /><br /> Se incorporó en calidad de externo en julio de 2022 y en febrero de 2023 pasó a formar parte de la plantilla de la compañía como parte del equipo de investigación de Mercados e Inteligencia Comercial, desempeñando las funciones de ingeniero de datos y de investigación comercial.
                </p>
            </div>
        </div>
    </div>
</main>