* {
    margin: 0px;
    padding: 0px;
}

header {
    margin-top: -15vh;
    height: auto;
}

main {
    margin: 50px 80px;
}

div {
    box-sizing: border-box
}

.galeria {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1600;
    margin: 90px 0px;
}

div.contenedor {
    flex: 1 0 auto;
    align-items: flex-start;
    margin: 0 5px;
    width: 312px;
    height: 560px;
    transition: width .4s;
    flex-grow: 1;
    flex-shrink: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contenedor:hover~div {
    flex-basis: calc((1600px - 312px) / 4);
}

.contenedor:hover {
    width: 800px;
    opacity: 1;
}

#uno {
    background-image: url("../../../assets/Rectángulo 3170-4.png");
}

#dos {
    background-image: url("../../../assets/Rectángulo 3170-3@2x.png");
}

#tres {
    background-image: url("../../../assets/Rectángulo 3170-2@2x.png");
}

#cuatro {
    background-image: url("../../../assets/Rectángulo 3170@2x.png");
}

#cinco {
    background-image: url("../../../assets/Rectángulo 3170-1@2x.png");
}

.contenedor p {
    vertical-align: bottom;
    margin-left: 40px;
}

.contenedor p:last-child {
    margin-bottom: 30px;
}

#tres p:first-child,
#cinco p:first-child {
    margin-bottom: -10px;
}

.contenedor p:last-child,
.contenedor .unnamed-character-style-4,
.contenedor .unnamed-character-style-11 {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.trazado {
    background-image: url("../../../assets/Trazado 5513.svg");
    background-size: cover;
    width: 25px;
    height: 25px;
    opacity: 0;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: -30px;
    margin-right: 60px;
    transition: margin-right .5s ease-out, margin-top .5s ease-out, opacity .5s ease-out;
}

.contenedor:hover .trazado {
    opacity: 1;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-top: -20px;
    transition: margin-right .5s ease-out, margin-top .5s ease-out, opacity .5s ease-out;
}

.cuatro:hover .trazado {
    opacity: 1;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-top: -40px;
    transition: margin-right .5s ease-out, margin-top .5s ease-out, opacity .5s ease-out;
}