<main>
  <header>
    <h2 class="unnamed-character-style-24">Investigación comercial</h2>
  </header>

  <!-- <div class="galeria">
        <div><img src="assets/Rectángulo 3170-4@2x.png"></div>
        <div><img src="assets/Rectángulo 3170-3@2x.png"></div>
        <div><img src="assets/Rectángulo 3170-2@2x.png"></div>
        <div><img src="assets/Rectángulo 3170@2x.png"></div>
        <div><img src="assets/Rectángulo 3170-1@2x.png"></div>
    </div> -->

  <div class="galeria">
    <div class="contenedor" id="uno">
      <!-- <img class="menu" src="assets/Rectángulo 3170-4@2x.png"> -->
      <div class="texto">
        <p class="unnamed-character-style-8">Mercado</p>
        <p class="unnamed-character-style-4 display-none">
          Seguimiento de Competencia: precios, coberturas y mucho mas.
        </p>
      </div>
    </div>
    <div class="contenedor" id="dos">
      <!-- <img class="menu" src="assets/Rectángulo 3170-3@2x.png"> -->
      <div class="texto">
        <p class="unnamed-character-style-8">Cliente</p>
        <p class="unnamed-character-style-4 ">
          Todo lo que necesitas saber de nuestros clientes.
        </p>
      </div>
    </div>
    <div class="contenedor" id="tres">
      <!-- <img class="menu" src="assets/Rectángulo 3170-2@2x.png"> -->
      <div class="texto">
        <span class="unnamed-character-style-17">Otras herramientas de</span>
        <p class="unnamed-character-style-8">Marketing</p>
        <p class="unnamed-character-style-11">
          Cuadros de Mando, Seguimientos de campa;as, geomarketing.
        </p>
      </div>
    </div>
    <div class="contenedor" id="cuatro">
      <!-- <img class="menu" src="assets/Rectángulo 3170@2x.png"> -->
      <div class="texto">
        <p class="unnamed-character-style-8">Repositorio</p>
        <span class="unnamed-character-style-17">de Estudios</span>
        <p class="unnamed-character-style-11">Histórico de Estudios.</p>
      </div>
    </div>
    <div class="contenedor" id="cinco">
      <!-- <img class="menu" src="assets/Rectángulo 3170-1@2x.png"> -->
      <div class="texto">
        <span class="unnamed-character-style-17">Equipos de</span>
        <p class="unnamed-character-style-6">Investigación</p>
        <p class="unnamed-character-style-11">
          Conoce al equipo y las funciones que desempe;a cada uno.
        </p>
      </div>
    </div>
  </div>
</main>
