<main>
    <header>
        <h2 class="unnamed-character-style-24" routerLink="/">Investigación comercial</h2>
    </header>
    <div class="galeria">
        <div class="contenedor" id="uno" routerLink="/mercado" (mouseover)="handleHover('uno')" (mouseleave)="handleMouseLeave('uno')">
            <p class="unnamed-character-style-8">Mercado</p>
            <p class="unnamed-character-style-4">Seguimiento de Competencia: precios, coberturas y mucho mas.</p>
            <div class="trazado"></div>
        </div>
        <div class="contenedor" id="dos" routerLink="/cliente" (mouseover)="handleHover('dos')" (mouseleave)="handleMouseLeave('dos')">
            <p class="unnamed-character-style-8">Cliente</p>
            <p class="unnamed-character-style-4">Todo lo que necesitas saber de nuestros clientes.</p>
            <div class="trazado"></div>
        </div>
        <div class="contenedor" id="tres" routerLink="/marketing" (mouseover)="handleHover('tres')" (mouseleave)="handleMouseLeave('tres')">
            <p class="unnamed-character-style-17">Otras herramientas de</p>
            <p class="unnamed-character-style-8">Marketing</p>
            <p class="unnamed-character-style-11">Cuadros de Mando, Seguimientos de campañas, geomarketing.</p>
            <div class="trazado"></div>
        </div>
        <a routerLink="/iframe/16" target="_self">
            <div class="contenedor" id="cuatro" routerLink="/" (mouseover)="handleHover('cuatro')" (mouseleave)="handleMouseLeave('cuatro')">
                <p class="unnamed-character-style-8">Repositorio</p>
                <p class="unnamed-character-style-17">de Estudios</p>
                <p class="unnamed-character-style-11">Histórico de Estudios.</p>
                <br>
                <div class="trazado"></div>
            </div>
        </a>
        <div class="contenedor" id="cinco" routerLink="/equipo" (mouseover)="handleHover('cinco')" (mouseleave)="handleMouseLeave('cinco')">
            <p class="unnamed-character-style-17">Equipos de</p>
            <p class="unnamed-character-style-6">Investigación</p>
            <p class="unnamed-character-style-11">Conoce al equipo y las funciones que desempe;a cada uno.</p>
            <div class="trazado"></div>
        </div>
    </div>
</main>