*{
    margin: 0px;
    padding: 0px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #f1efee;
}
header{
    height: 15vh;
    background-color: #ffffff;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol, ul {
    list-style: none;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'FS Me';
    src: url('../src/assets/FSMe.ttf') format('truetype');
  }
  @font-face {
    font-family: 'LEMON MILK Pro FTR';
    src: url('../src/assets/FSMe-Bold.ttf') format('truetype');
  }
  

:root {

    /* Colors: */
    --unnamed-color-98a92a: #98A92A;
    --unnamed-color-707070: #707070;
    --unnamed-color-000000a6: #000000A6;
    --unnamed-color-e1dfdd: #E1DFDD;
    --unnamed-color-095751: #095751;
    --unnamed-color-43752b: #43752B;
    --unnamed-color-333333: #333333;
    --unnamed-color-6a625a: #6A625A;
    --unnamed-color-f1efee: #F1EFEE;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-005650: #005650;
    --unnamed-color-85a228: #85A228;
    --unnamed-color-706961: #706961;
    --unnamed-color-205000: #205000;
    
    /* Font/text values *//*"Arial", Sans-serif*/
    /* --unnamed-font-family-lemon-milk-pro-ftr: LEMON MILK Pro FTR;
    --unnamed-font-family-fs-me: FS Me; */
    --unnamed-font-family-lemon-milk-pro-ftr: Arial, Sans-serif;
    --unnamed-font-family-fs-me: Arial, Sans-serif;
    --unnamed-font-family-georgia: Georgia;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-11: 11px;
    --unnamed-font-size-12: 12px;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-15: 15px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-17: 17px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-22: 22px;
    --unnamed-font-size-28: 28px;
    --unnamed-font-size-30: 30px;
    --unnamed-font-size-36: 36px;
    --unnamed-font-size-38: 38px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-0-75: 0.75px;
    --unnamed-line-spacing-18: 18px;
    --unnamed-line-spacing-20: 20px;
    --unnamed-line-spacing-22: 22px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-45: 45px;
    --unnamed-text-transform-uppercase: uppercase;
    --unnamed-text-alig-justify: justify ;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-fs-me);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-005650);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-fs-me);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-43752b);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-36);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-85a228);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-fs-me);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-15);
    line-height: var(--unnamed-line-spacing-20);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-6 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-7 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-17);
    line-height: var(--unnamed-line-spacing-20);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-8 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-9 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    }
    .unnamed-character-style-10 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-22);
    line-height: var(--unnamed-line-spacing-20);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-11 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-15);
    line-height: var(--unnamed-line-spacing-20);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-12 {
    font-family: var(--unnamed-font-family-fs-me);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-15);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0-75);
    color: var(--unnamed-color-ffffff);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .unnamed-character-style-13 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    }
    .unnamed-character-style-14 {
    font-family: var(--unnamed-font-family-georgia);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-38);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-43752b);
    }
    .unnamed-character-style-15 {
    font-family: var(--unnamed-font-family-georgia);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-43752b);
    }
    .unnamed-character-style-16 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-17 {
    font-family: var(--unnamed-font-family-fs-me);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-18 {
    font-family: var(--unnamed-font-family-fs-me);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-15);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-005650);
    }
    .unnamed-character-style-19 {
    font-family: var(--unnamed-font-family-fs-me);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-15);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-706961);
    }
    .unnamed-character-style-20 {
    font-family: var(--unnamed-font-family-fs-me);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-15);
    line-height: var(--unnamed-line-spacing-20);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    }
    .unnamed-character-style-21 {
    font-family: var(--unnamed-font-family-fs-me);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-11);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-706961);
    }
    .unnamed-character-style-22 {
    font-family: var(--unnamed-font-family-fs-me);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-706961);
    }
    .unnamed-character-style-23 {
    font-family: var(--unnamed-font-family-fs-me);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    }
    .unnamed-character-style-24 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-005650);
    }
    .unnamed-character-style-25 {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-095751);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
   
    div{
        box-sizing:  border-box
    }
    
    .mercado{
        max-width: 1600;
        margin: 90px 0px ;
    }
    
    .mercado-portada{
        top: 179px;
        left: 190px;
        width: 800px;
        height: 18px;
        font: normal normal normal 15px/22px FS Me;
        letter-spacing: 0px;
        opacity: 1;
        margin: calc(132px - 179px) 930px 30px 0px;
        display: flexbox;
    }
    
    .wrap-p{
        top: 289px;
        left: 190px;
        width: 800px;
        height: 118px;
        letter-spacing: 0px;
    }
    
    .wrap{
        display: flex;
        flex-wrap: nowrap;
        max-width: 1600;
        margin: 25.79px 0px 0 0 ;
    }
    
    div.contenedor{
        flex: 1 0 auto;
        align-items: flex-start;
        margin: 0 5px;
        width: 380px;
        height: 410px;
        transition: width .4s;
        flex-grow: 1;
        flex-shrink: 1;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .contenedor p {
        vertical-align: bottom;
        margin-left: 20px;
    }
    
    .unnamed-character-style-16 {
        margin-bottom: -10px;
        margin-top: 370px;
    }
    .unnamed-character-style-16{
        text-transform: var(--unnamed-text-transform-uppercase);
    }
    .contenedor p:last-child {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }
    
    .contenedor:hover p:last-child {
        opacity: 1;
        transition: opacity 0.3s ease-out;
    }
    
.arrow-left:hover {
    transform: scale(0.8);
}
  
.arrow-left:hover::after {
    content: "";
    animation: arrow-left-animation 0.5s; 
}
  
  @keyframes arrow-left-animation {
    0%, 100% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1); 
    }
  }

.arrow-left:hover {
    cursor: pointer;
}

.InvestigacionComercial{
    cursor: pointer;
}