<main>
    <header>
        <div class="arrow-left"></div>
        <h2 class="unnamed-character-style-24" routerLink="/">
             Investigación comercial
        </h2>
    </header>
    <div class="cliente">
        <div class="cliente-portada">
            <p class="unnamed-character-style-20">Portada /</p>
            <p class="unnamed-character-style-18">&nbsp;Cliente</p>
        </div>
        <h2 class="unnamed-character-style-25">Cliente</h2>
        <div class="wrap-p">
            <p class="unnamed-character-style-20">
                Toda la información sobre nuestros clientes, incluyendo perfiles, distribución, intereses y expectativas.
                <br />
                <br /> Cuando entiedes a tus clientes, puedes tomar decisiones que mejoren su experienci, mejorar su fidelidad y retención, promover el boca-oreja, demás de de provechar todo el potencial de crecimiento.
            </p>
        </div>
        <div class="wrap">
            
            <div class="overflow-hidden">
                <div class="contenedor" id="uno" (mouseover)="handleHover('uno')" (mouseleave)="handleMouseLeave('uno')">
                    <div class="wrap-flecha-down">
                        <div class="flecha-down"></div>
                    </div>

                    <p class="unnamed-character-style-16">Por que llega</p>
                    <p class="unnamed-character-style-17">
                        Descubre los motivos por los que los clientes llegan a DKV
                    </p>
                    <div class="trazado"></div>
                </div>
                <div class="borde-top">
                    <div class="base-flecha" id="base-flecha-uno">
                        <div class="punta-flecha" id="punta-flecha-uno"></div>
                    </div>
                </div>
                <div class="selector"><div class="selector-punto" id="selector-punto-uno"></div></div>
            </div>


            <div class="overflow-hidden">
                <div class="contenedor" id="dos" (mouseover)="handleHover('dos')" (mouseleave)="handleMouseLeave('dos')">
                    <div class="wrap-flecha-down">
                        <div class="flecha-down"></div>
                    </div>
                    <p class="unnamed-character-style-16">Cómo es</p>
                    <p class="unnamed-character-style-17">
                        Perfil sociodemográfico y transaccional de nuestros cliente.
                    </p>
                    <div class="trazado"></div>
                </div>
                <div class="borde-top">
                    <div class="base-flecha" id="base-flecha-dos">
                        <div class="punta-flecha" id="punta-flecha-dos"></div>
                    </div>
                </div>
                <div class="selector"><div class="selector-punto" id="selector-punto-dos"></div></div>
            </div>

            <div class="overflow-hidden">
                <div class="contenedor" id="tres" (mouseover)="handleHover('tres')" (mouseleave)="handleMouseLeave('tres')">
                    <div class="wrap-flecha-down">
                        <div class="flecha-down"></div>
                    </div>
                    <p class="unnamed-character-style-16">Cómo actúa</p>
                    <p class="unnamed-character-style-17">
                        Hábitos y preferencias tanto en el mundo como en el digital.
                    </p>
                    <div class="trazado"></div>
                </div>
                <div class="borde-top">
                    <div class="base-flecha" id="base-flecha-tres">
                        <div class="punta-flecha" id="punta-flecha-tres"></div>
                    </div>
                </div>
                <div class="selector"><div class="selector-punto" id="selector-punto-tres"></div></div>
            </div>

            <div class="overflow-hidden">
                <div class="contenedor" id="cuatro" (mouseover)="handleHover('cuatro')" (mouseleave)="handleMouseLeave('cuatro')">
                    <div class="wrap-flecha-down">
                        <div class="flecha-down"></div>
                    </div>
                    <p class="unnamed-character-style-16">Dónde vive</p>
                    <p class="unnamed-character-style-17">
                        Combinación de variables geográficas con las variables de negocio.
                    </p>
                    <div class="trazado"></div>
                </div>
                <div class="borde-top">
                    <div class="base-flecha" id="base-flecha-cuatro">
                        <div class="punta-flecha" id="punta-flecha-cuatro"></div>
                    </div>
                </div>
                <div class="selector"><div class="selector-punto" id="selector-punto-cuatro"></div></div>
            </div>

            <div class="overflow-hidden">
                <div class="contenedor" id="cinco" (mouseover)="handleHover('cinco')" (mouseleave)="handleMouseLeave('cinco')">
                    <div class="wrap-flecha-down">
                        <div class="flecha-down"></div>
                    </div>
                    <p class="unnamed-character-style-16">Qué le motiva</p>
                    <p class="unnamed-character-style-17">
                        Propensión a la compra, venta cruzada y propensión a la fuga.
                    </p>
                    <div class="trazado"></div>
                </div>
                <div class="borde-top">
                    <div class="base-flecha" id="base-flecha-cinco">
                        <div class="punta-flecha" id="punta-flecha-cinco"></div>
                    </div>
                </div>
                <div class="selector"><div class="selector-punto" id="selector-punto-cinco"></div></div>
            </div>

            <div class="overflow-hidden">
                <div class="contenedor" id="seis"  (mouseover)="handleHover('seis')" (mouseleave)="handleMouseLeave('seis')">
                    <div class="wrap-flecha-down">
                        <div class="flecha-down"></div>
                    </div>
                    <p class="unnamed-character-style-16">por qué se va</p>
                    <p class="unnamed-character-style-17">
                        Métricas de caída, objetivos, retención, causas de baja
                    </p>
                    <div class="trazado"></div>
                </div>
                <div class="borde-top">
                    <div class="base-flecha" id="base-flecha-seis">
                        <div class="punta-flecha" id="punta-flecha-seis"></div>
                    </div>
                </div>
                <div class="selector"><div class="selector-punto" id="selector-punto-seis"></div></div>
            </div>
        </div>
    </div>
</main>