<main>
    <header>
        <div class="arrow-left"></div>
        <h2 class="unnamed-character-style-24" routerLink="/">
             Investigación comercial
        </h2>
    </header>
    <div class="cliente">
        <div class="cliente-portada">
            <p class="unnamed-character-style-20">Portada /</p>
            <p class="unnamed-character-style-18">&nbsp;Marketing</p>
        </div>
        <h2 class="unnamed-character-style-25">OTRAS HERRAMIENTAS DE MARKETING</h2>
        <div class="wrap-p">
            <p class="unnamed-character-style-20">
                Toda la información relativa a las acciones e indicadores de negocio. Herramientas de marketing como cuadro de mando, seguimiento de campañas, argumentarios, consultas y conteos además de geomarketing de empresas.
                <br />
                <br /> Los datos que se recopilan ayudan a comprender el desempeño de DKV dentro del entorno competitivo general. Esto también ayudará a la organización a planificar futuras acciones y a desarrollar planes de marketing estratégico.
            </p>
        </div>
        <div class="wrap"> 
            <div class="wrap-item">
                <div class="overflow-hidden">
                    <div class="contenedor" id="uno" (mouseover)="handleHover('uno')" (mouseleave)="handleMouseLeave('uno')">
                        <div class="wrap-flecha-down">
                            <div class="flecha-down"></div>
                        </div>

                        <p class="unnamed-character-style-16">CUADRO DE MANDO</p>
                        <p class="unnamed-character-style-17">
                            Indicadores de seguimiento del departamento de marketing. </p>
                        <div class="trazado"></div>
                    </div>
                </div>
            </div>

            <div class="wrap-item">
                <div class="overflow-hidden">
                    <div class="contenedor" id="dos" (mouseover)="handleHover('dos')" (mouseleave)="handleMouseLeave('dos')">
                        <div class="wrap-flecha-down">
                            <div class="flecha-down"></div>
                        </div>
                        <p class="unnamed-character-style-16">ESTUDIO DE BAJAS</p>
                        <p class="unnamed-character-style-17">
                            Estudio de las bajas de clientes DKV
                        </p>
                        <div class="trazado"></div>
                    </div>
                </div>
            </div>

            <div class="wrap-item">
                <div class="overflow-hidden">
                    <div class="contenedor" id="tres" (mouseover)="handleHover('tres')" (mouseleave)="handleMouseLeave('tres')">
                        <div class="wrap-flecha-down">
                            <div class="flecha-down"></div>
                        </div>
                        <p class="unnamed-character-style-16">CAMPAÑAS MARKETING</p>
                        <p class="unnamed-character-style-17">
                            Indicadores de seguimiento de las campañas de marketing.
                        </p>
                        <div class="trazado"></div>
                    </div>
                </div>
            </div>

            <div class="wrap-item">
                <div class="overflow-hidden">
                    <div class="contenedor" id="cuatro" (mouseover)="handleHover('cuatro')" (mouseleave)="handleMouseLeave('cuatro')">
                        <div class="wrap-flecha-down">
                            <div class="flecha-down"></div>
                        </div>
                        <p class="unnamed-character-style-16">DIMENSIONAMIENTO ACCIONES COMERCIALES E INFORMES</p>
                        <p class="unnamed-character-style-17">
                            Herramienta para hacer conteos de la BBDD de clientes.
                        </p>
                        <div class="trazado"></div>
                    </div>
                </div>
            </div>

            <div class="wrap-item">
                <div class="overflow-hidden">
                    <div class="contenedor" id="cinco" (mouseover)="handleHover('cinco')" (mouseleave)="handleMouseLeave('cinco')">
                        <div class="wrap-flecha-down">
                            <div class="flecha-down"></div>
                        </div>
                        <p class="unnamed-character-style-16">GEOMARKETING EMPRESAS</p>
                        <p class="unnamed-character-style-17">
                            Herramienta para geolicalizar empresas por diferentes filtros.
                        </p>
                        <div class="trazado"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>