<main>
    <header>
        <a href="#" (click)="goBack()" target="_self"><div class="arrow-left"></div></a>
        <a href="#"><h2 class="unnamed-character-style-24 InvestigacionComercial" routerLink="/">
          Investigación comercial
        </h2></a>
    </header>
    <div class="cliente">
        <div class="cliente-portada">
            <p class="unnamed-character-style-20">Portada /</p>
            <p class="unnamed-character-style-18">&nbsp;Marketing</p>
        </div>
        <h2 class="unnamed-character-style-25">OTRAS HERRAMIENTAS DE MARKETING</h2>
        <div class="wrap-p">
            <p class="unnamed-character-style-20">
                Toda la información relativa a las acciones e indicadores de negocio. Herramientas de marketing como cuadro de mando, seguimiento de campañas, argumentarios, consultas y conteos además de geomarketing de empresas.
                <br />
                <br /> Los datos que se recopilan ayudan a comprender el desempeño de DKV dentro del entorno competitivo general. Esto también ayudará a la organización a planificar futuras acciones y a desarrollar planes de marketing estratégico.
            </p>
        </div>
        <div class="wrap">
            
            <div class="overflow-hidden">
                <a routerLink="/iframe/11" target="_self">
                <div class="contenedor" id="uno" (mouseover)="handleHover('uno')" (mouseleave)="handleMouseLeave('uno')">
                    <div class="wrap-flecha-down">
                        <div class="flecha-down"></div>
                    </div>

                    <p class="unnamed-character-style-16">CUADRO DE MANDO</p>
                    <p class="unnamed-character-style-17">
                        Indicadores de seguimiento del departamento de marketing.
                    </p>
                    <div class="trazado"></div>
                </div>
                <div class="borde-top">
                    <div class="base-flecha" id="base-flecha-uno">
                        <div class="punta-flecha" id="punta-flecha-uno"></div>
                    </div>
                </div>
                <!-- <div class="selector"><div class="selector-punto" id="selector-punto-uno"></div></div> -->
                </a>
            </div>


            <div class="overflow-hidden">
                <a routerLink="/iframe/12" target="_self">
                <div class="contenedor" id="dos" (mouseover)="handleHover('dos')" (mouseleave)="handleMouseLeave('dos')">
                    <div class="wrap-flecha-down">
                        <div class="flecha-down"></div>
                    </div>
                    <p class="unnamed-character-style-16">ESTUDIO DE BAJAS</p>
                    <p class="unnamed-character-style-17">
                        Estudio de las bajas de clientes DKV
                    </p>
                    <div class="trazado"></div>
                </div>
                <div class="borde-top">
                    <div class="base-flecha" id="base-flecha-dos">
                        <div class="punta-flecha" id="punta-flecha-dos"></div>
                    </div>
                </div>
                <!-- <div class="selector"><div class="selector-punto" id="selector-punto-dos"></div></div> -->
                </a>
            </div>

            <div class="overflow-hidden">
                <a routerLink="/iframe/13" target="_self">
                <div class="contenedor" id="tres" (mouseover)="handleHover('tres')" (mouseleave)="handleMouseLeave('tres')">
                    <div class="wrap-flecha-down">
                        <div class="flecha-down"></div>
                    </div>
                    <p class="unnamed-character-style-16">CAMPAÑAS MARKETING</p>
                    <p class="unnamed-character-style-17">
                        Indicadores de seguimiento de las campañas de marketing.
                    </p>
                    <div class="trazado"></div>
                </div>
                <div class="borde-top">
                    <div class="base-flecha" id="base-flecha-tres">
                        <div class="punta-flecha" id="punta-flecha-tres"></div>
                    </div>
                </div>
                <!-- <div class="selector"><div class="selector-punto" id="selector-punto-tres"></div></div> -->
                </a>
            </div>
            <div class="overflow-hidden">
                <a routerLink="/iframe/14" target="_self">
                <div class="contenedor" id="cuatro" (mouseover)="handleHover('cuatro')" (mouseleave)="handleMouseLeave('cuatro')">
                    <div class="wrap-flecha-down">
                        <div class="flecha-down"></div>
                    </div>
                    <p class="unnamed-character-style-7">DIMENSIONAMIENTO ACCIONES COMERCIALES E INFORMES</p>
                    <p class="unnamed-character-style-17">
                        Herramienta para hacer conteos de la BBDD de clientes.
                    </p>
                    <div class="trazado"></div>
                </div>
                <div class="borde-top">
                    <div class="base-flecha" id="base-flecha-cuatro">
                        <div class="punta-flecha" id="punta-flecha-cuatro"></div>
                    </div>
                </div>
                <!-- <div class="selector"><div class="selector-punto" id="selector-punto-dos"></div></div> -->
                </a>
            </div>
            
            <div class="overflow-hidden">
                <a routerLink="/iframe/15" target="_self">
                <div class="contenedor" id="cinco" (mouseover)="handleHover('cinco')" (mouseleave)="handleMouseLeave('cinco')">
                    <div class="wrap-flecha-down">
                        <div class="flecha-down"></div>
                    </div>
                    <p class="unnamed-character-style-16">GEOMARKETING EMPRESAS</p>
                    <p class="unnamed-character-style-17">
                        Herramienta para geolicalizar empresas por diferentes filtros.
                    </p>
                    <div class="trazado"></div>
                </div>
                <div class="borde-top">
                    <div class="base-flecha" id="base-flecha-cinco">
                        <div class="punta-flecha" id="punta-flecha-cinco"></div>
                    </div>
                </div>
                <!-- <div class="selector"><div class="selector-punto" id="selector-punto-cinco"></div></div> -->
                </a>
            </div>
        </div>
    </div>
</main>